.full-width {
    width: 100%;
}

.half-width {
    width: 49%;
}

.ml-1 {
 margin-left: 2%;
}

mat-card-header {
    cursor: pointer;
}

mat-card-actions {
    margin-bottom: 0px !important;
    margin-left: 2px;
}

mat-card-content {
    margin-bottom: 0px !important;
}
