<mat-card>
  <mat-card-header>
    <mat-card-title>Adicionar pesquisa</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider> <br>
  <mat-card-content>
    <form>
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" value="">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Sobrenome" value="">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="E-mail" value="">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Endereço" value="">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="RG" value="">
      </mat-form-field>
      <mat-form-field class="full-width">
        <span matPrefix>+55 &nbsp;</span>
        <input type="tel" matInput placeholder="Telefone">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Sistemas</mat-label>
        <mat-select multiple>
          <mat-option value="1">Facebook</mat-option>
          <mat-option value="2">Linkedin</mat-option>
          <mat-option value="3">Twitter</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">ADICIONAR</button>
    <button mat-raised-button>LIMPAR</button>
  </mat-card-actions>
</mat-card>
    

      