<mat-card>
  <mat-card-header (click)="toggleForm()">
    <mat-card-title>Pesquisar pessoa</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider> <br>
  <form [@slideInOut]="animationState" [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-form-field fxFlex.gt-xs="22" fxFlex.lt-sm="39">
          <input matInput formControlName="firstName" placeholder="Nome" value="">
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="42" fxFlex.lt-sm="59">
          <input matInput formControlName="lastName" placeholder="Sobrenome" value="">
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="32" fxFlex.lt-sm="100">
          <mat-label>Portais</mat-label>
          <mat-select multiple formControlName="searchPages" [(value)]="selectValue">
            <mat-option value="A1A2C1C2C3C4E1G1I1I2J1M1S1S2" (click)="selectedAll(true)">TODOS</mat-option>
            <mat-optgroup label="Portais" (click)="selectedAll(false)">
              <mat-option value="A1">ARISP</mat-option>
              <mat-option value="A2">ARPENSP</mat-option>
              <mat-option value="C1">Consulta Sócio</mat-option>
              <mat-option value="C2">CADESP</mat-option>
              <mat-option value="C3">CAGED</mat-option>
              <mat-option value="C4">CENSEC</mat-option>
              <mat-option value="E1">Escavador</mat-option>
              <mat-option value="G1">Busca Google</mat-option>
              <mat-option value="I1">INFOCRIM</mat-option>
              <mat-option value="I2">INFOSEG</mat-option>
              <mat-option value="J1">JUCESP</mat-option>
              <mat-option value="M1">Google Maps</mat-option>
              <mat-option value="S1">SIVEC</mat-option>
              <mat-option value="S2">SIEL</mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-form-field fxFlex.gt-xs="32" fxFlex.lt-sm="49">
          <input matInput formControlName="rg" placeholder="RG" value="">
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="32" fxFlex.lt-sm="49">
          <input matInput formControlName="cpf" placeholder="CPF" value="">
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="32" fxFlex.lt-sm="100">
          <input matInput formControlName="cnpj" placeholder="CNPJ" value=""> 
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">ADICIONAR</button>
      <button mat-raised-button (click)="form.reset(); form.markAsUntouched()">LIMPAR</button>
    </mat-card-actions>
  </form>
</mat-card>
    

      