@model PessoaModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Console</title>

</head>
<body>
    <br>
    <div class="container-fluid">

        <div class="card">
            <h3 class="card-header">Pesquisar Pessoa</h3>
            <div class="card-body">
                <form asp-action="Search" asp-controller="Pessoa" asp-route-id="" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Rg"></label>
                            <input asp-for="Rg" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Cpf"></label>
                            <input asp-for="Cpf" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Cnpj"></label>
                            <input asp-for="Cnpj" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SearchPage"></label>
                        <select class="selectpicker col-md-11 form-control" multiple data-live-search="true"
                                asp-for="SearchPage">
                            <option itemValue="A1" itemLabel="Facebook">Facebook</option>
                            <option itemValue="A2" itemLabel="Sivec">Sivec</option>
                            <option itemValue="C1" itemLabel="Google Maps">Google Maps</option>
                            <option itemValue="C2" itemLabel="Jucesp">Jucesp</option>
                            <option itemValue="C3" itemLabel="Linkedin">Linkedin</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                    <button class="btn btn-light">Limpar</button>
                </form>
            </div>
        </div>

    </div>
    <br>
    <div class="container-fluid">

        <div class="card">
            <h3 class="card-header">Pesquisas Recentes</h3>
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th>No.</th>
                        <th>Nome</th>
                        <th>Progresso</th>
                        <th>Acertabilidade</th>
                        <th>Status</th>
                        <th>Opções</th>
                    </tr>
                    <!--<tr>
                        <td>1</td>
                        <td>Mateus de Oliveira Igreja</td>
                        <td>100%</td>
                        <td>20%</td>
                        <td><span class="badge badge-success badge-pill">Finalizado</span></td>
                        <td>
                            Opções...
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Caio Laurenti Bianchini</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td><span class="badge badge-success badge-pill">Finalizado</span></td>
                        <td>Opções...</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Gabriel Lourenço</td>
                        <td>55%</td>
                        <td>-</td>
                        <td><span class="badge badge-warning badge-pill">Em andamento...</span></td>
                        <td>Opções...</td>
                    </tr>-->
                    @foreach (PessoaModel pessoa in ViewBag.Pessoas)
                    {
                        <tr>
                            <td>1</td>
                            <td>@pessoa.FirstName @pessoa.LastName</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span class="badge badge-warning badge-pill">Em andamento...</span></td>
                            <td>Opções...</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</body>
</html>


